---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import { Services } from '../../constants';
import ServiceCard from '../../components/ServiceCard.astro';

// Assuming AboutImg is not used in this component, so I've removed it
---

<section class='px-4'>
  <div class='max-w-7xl mx-auto'>
    <div class='grid lg:grid-cols-2 gap-12 lg:gap-16 items-start'>
      <div class='space-y-8'>
        <div class='flex items-center gap-4'>
          <div class='h-[2px] w-12 bg-accent'></div>
          <span class='text-accent font-semibold tracking-wide uppercase'
            >Services</span
          >
        </div>
        <h2
          class='text-3xl sm:text-4xl lg:text-5xl font-bold text-primary leading-tight'
        >
          We Offer The Best Services to Our Clients
        </h2>
        <p class='text-lg text-textPrimary leading-relaxed'>
          A digital business agency is a company or organization that
          specializes in providing services related to digital marketing, online
          presence, and overall digital strategy for businesses.
        </p>
        <a
          href='#'
          class='inline-flex items-center justify-center px-6 py-3 text-lg font-medium text-primary bg-highlight rounded-full overflow-hidden group transition-colors duration-300 hover:bg-accent hover:text-highlight'
        >
          <span class='mr-2 text-nowrap'>Browse All Services</span>
          <Icon name='arrow-right' class='w-5 h-5' />
        </a>
      </div>
      <div class='grid sm:grid-cols-2 gap-6 lg:gap-8'>
        {
          Services.slice(0, 4).map((service) => (
            <ServiceCard home={true} service={service} />
          ))
        }
      </div>
    </div>
  </div>
</section>
