---
import CTAOne from '../../components/CTAOne.astro';
import PageIntro from '../../components/PageIntro.astro';
import ServiceCard from '../../components/ServiceCard.astro';
import { Services } from '../../constants';
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <div class='min-h-screen bg-gradient-to-b from-white to-highlight'>
    <div class='container mx-auto px-4 py-8'>
      <PageIntro
        heading='Explore Our Services'
        paragraph='We offer features and services for businesses and individuals with your unique needs in mind.'
      />

      <div class='grid md:grid-cols-2 lg:grid-cols-3 gap-8 mt-12 mb-14'>
        {Services.map((service) => <ServiceCard service={service} />)}
      </div>

      <CTAOne />
    </div>
  </div>
</Layout>
