---
import Layout from '../layouts/Layout.astro';
import AboutSection from '../sections/Home/AboutSection.astro';
import ServicesSection from '../sections/Home/ServicesSection.astro';
import Gap from '../components/Gap.astro';
---

<Layout>
  <div class='min-h-screen'>
    <div class='container mx-auto px-4 py-16'>
      <AboutSection />
      <Gap />
      <ServicesSection />
    </div>
  </div>
</Layout>
