---
import ServiceCard2 from '../components/ServiceCard2.astro';
import Layout from '../layouts/Layout.astro';
import { ServicesTwo } from '../constants';
import { Icon } from 'astro-icon/components';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import BreadcrumbImg from '../assets/images/breadcrumbservice.jpg';

const breadCrumbsDetails = {
  img: BreadcrumbImg,
  title: 'Our Services',
  desc: 'Your Process Automation Partner from beginning to end.',
};
---

<Layout>
  <div class='min-h-screen bg-gradient-to-b from-white to-lightGray'>
    {/* Breadcrumb */}
    <Breadcrumbs details={breadCrumbsDetails} />

    <div class='container mx-auto px-4 py-16'>
      <div class='flex gap-10 mb-28'>
        <div class='flex flex-col gap-5 flex-1 px-5'>
          <h3 class='text-2xl text-darkBlue font-semibold'>
            Business as usual or better?
          </h3>
          <div class='text-sm text-darkText'>
            Relying on different systems and spreadsheets, endless email chains
            and all-consuming manual activities is not a viable way to work in a
            fast-moving world.<br /><br />

            We can help you to operate smarter and outsource the heavy lifting
            to a digital workforce, in a way that makes customers and employees
            happy –and keeps your business profitable.<br /><br />

            If you are not sure where to start, we will work with you to flag
            the problem areas and build better processes before adding tech. If
            you’ve already begun your automation journey, we can help you to
            level up and solve more complex problems.
          </div>
        </div>
        <div class='flex flex-col gap-5 flex-1 px-5'>
          <h3 class='text-2xl text-darkBlue font-semibold'>
            Why automate with us?
          </h3>
          <div class='flex flex-col gap-3'>
            {
              [1, 2, 3, 4, 5].map((el) => (
                <div class='flex gap-3 items-center'>
                  <Icon name='check2-circle' size='30' class='text-primary' />
                  <div class='font-medium text-darkText'>
                    Increase efficiency without increasing headcount
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
      <div class='grid gap-10'>
        {
          ServicesTwo.map((service, index) => (
            <ServiceCard2 service={service} index={index} />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
