---
import ServiceCard2 from '../components/ServiceCard2.astro';
import Layout from '../layouts/Layout.astro';
import { ServicesTwo } from '../constants';
import { Icon } from 'astro-icon/components';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import BreadcrumbImg from '../assets/images/breadcrumbservice.jpg';
import PageOverview from '../components/PageOverview.astro';
import CTAOne from '../components/CTAOne.astro';

const breadCrumbsDetails = {
  img: BreadcrumbImg,
  title: 'Our Services',
  desc: 'Your Process Automation Partner from beginning to end.',
};

const overview = {
  leftTitle: 'Business as usual or better?',
  leftDescription:
    'Relying on different systems and spreadsheets, endless email chains and all-consuming manual activities is not a viable way to work in a fast-moving world.\n \n We can help you to operate smarter and outsource the heavy lifting to a digital workforce, in a way that makes customers and employees happy –and keeps your business profitable.\n\n If you are not sure where to start, we will work with you to flag the problem areas and build better processes before adding tech. If you’ve already begun your automation journey, we can help you to level up and solve more complex problems.',
  rightTitle: 'Why automate with us?',
  rightPoints: [
    'Increase efficiency without increasing headcount',
    'Ensure responsiveness with a 24/7 workforce',
    'Get operational costs under control',
    'Boost processing speed and accuracy',
    'Enhance compliance and risk management',
    'Create new growth opportunities',
    'Deliver market-leading customer experiences',
    'Build a resilient, agile, digital organisation',
  ],
};
---

<Layout>
  <div class='min-h-screen bg-gradient-to-b from-white to-highlight'>
    {/* Breadcrumb */}
    <Breadcrumbs details={breadCrumbsDetails} />

    <div class='container mx-auto px-4 py-10 md:py-20'>
      <PageOverview overview={overview} />

      <div class='grid gap-10 mt-20 mb-14'>
        {
          ServicesTwo.map((service, index) => (
            <ServiceCard2 service={service} index={index} />
          ))
        }
      </div>

      <CTAOne />
    </div>
  </div>
</Layout>
