---
import { Icon } from 'astro-icon/components';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout
  title='Thank You | Alicorn Solutions'
  description="Thank you for contacting Alicorn Solutions. We've received your message and will get back to you soon."
>
  <main
    class='bg-primary-50 section-padding flex items-center justify-center px-4 sm:px-6 lg:px-8'
  >
    <div class='max-w-md w-full space-y-8 text-center'>
      <div class='inline-block'>
        <div
          class='flex items-center justify-center h-24 w-24 rounded-full bg-green-100 mx-auto'
        >
          <Icon name='check' class='h-12 w-12 text-green-600' />
        </div>
      </div>
      <h1 class='mt-6 text-3xl font-extrabold text-gray-900 sm:text-4xl'>
        Thank You!
      </h1>
      <p class='mt-2 text-sm text-gray-600 sm:text-base'>
        We've received your message and will get back to you as soon as
        possible. Usually, this takes us 1-2 business days.
      </p>
      <div class='mt-8 space-y-4'>
        <a
          href='/'
          class='w-full flex items-center justify-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-primary hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary transition duration-150 ease-in-out'
        >
          Return to Homepage
        </a>
        <a
          href='/services'
          class='w-full flex items-center justify-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-primary bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary transition duration-150 ease-in-out'
        >
          Explore Our Services
        </a>
      </div>
    </div>
  </main>
</MainLayout>
