---
import { Icon } from 'astro-icon/components';
---

<div
  class='bg-darkBlue text-white px-6 sm:px-8 lg:px-12 py-8 sm:py-12 lg:py-16 flex flex-col lg:flex-row items-center justify-between'
>
  <div class='w-full lg:w-9/12 mb-6 lg:mb-0'>
    <h3 class='text-2xl sm:text-3xl font-semibold mb-4'>
      Curious? Let’s Chat.
    </h3>
    <p class='text-sm sm:text-base font-normal leading-relaxed'>
      If you’re ready to transform your business and explore new opportunities
      for digital innovation, it’s time we talked.
    </p>
  </div>

  <div class='flex justify-center lg:justify-end w-full lg:w-1/5'>
    <a
      href=''
      class='flex items-center px-6 py-3 bg-primary text-white rounded-3xl hover:bg-accent transition-colors duration-300'
    >
      Get Started <Icon name='arrow-right' class='ml-3 text-lg sm:text-xl' />
    </a>
  </div>
</div>
