<header class='bg-gray-800 text-white p-4'>
  <nav class='flex items-center justify-between'>
    <div class='text-lg font-bold'>YourBrand</div>
    <ul class='flex space-x-6'>
      <!-- Products Link -->
      <li class='relative group'>
        <button class='hover:opacity-50 cursor-pointer px-3 py-2'
          >Products</button
        >

        <!-- Products Mega Menu -->
        <div
          class='mega-menu absolute top-full mt-2 bg-transparent max-w-none z-50 opacity-0 invisible transition-all transform group-hover:opacity-100 group-hover:visible group-hover:block'
        >
          <div class='relative p-6 bg-highlight w-9/12 mx-auto'>
            <!-- <div
              class='w-10 h-10 bg-white transform rotate-45 absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-sm'
            >
            </div> -->

            <div class='relative z-10'>
              <div class='grid grid-cols-2 gap-6'>
                <!-- First Column -->
                <div class='max-h-96 overflow-y-auto w-full bg-yellow-300 p-6'>
                  <p
                    class='uppercase tracking-wider text-gray-500 font-medium text-[13px]'
                  >
                    Column 1
                  </p>
                  <!-- <ul class='mt-3 text-[15px] space-y-3'>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                    </li>
                  </ul> -->
                </div>
                <!-- Second Column -->
                <div class='max-h-96 overflow-y-auto w-full bg-yellow-300 p-6'>
                  <p
                    class='uppercase tracking-wider text-gray-500 font-medium text-[13px]'
                  >
                    Column 2
                  </p>
                  <ul class='mt-3 text-[15px] space-y-3'>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <!-- Services Link -->
      <li class='relative group'>
        <button class='hover:opacity-50 cursor-pointer px-3 py-2'
          >Services</button
        >

        <!-- Services Mega Menu -->
        <div
          class='mega-menu absolute left-10 top-full mt-2 bg-transparent rounded-xl shadow-xl max-w-none z-50 opacity-0 invisible transition-all transform group-hover:opacity-100 group-hover:visible group-hover:block'
        >
          <div class='relative p-6'>
            <!-- <div
              class='w-10 h-10 bg-white transform rotate-45 absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-sm'
            >
            </div> -->

            <div class='relative z-10'>
              <div class='grid grid-cols-2 gap-6'>
                <!-- First Column -->
                <div class='max-h-96 overflow-y-auto'>
                  <p
                    class='uppercase tracking-wider text-gray-500 font-medium text-[13px]'
                  >
                    Column 1
                  </p>
                  <ul class='mt-3 text-[15px] space-y-3'>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                    </li>
                  </ul>
                </div>
                <!-- Second Column -->
                <div class='max-h-96 overflow-y-auto'>
                  <p
                    class='uppercase tracking-wider text-gray-500 font-medium text-[13px]'
                  >
                    Column 2
                  </p>
                  <ul class='mt-3 text-[15px] space-y-3'>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi.
                      </p>
                    </li>
                    <li>
                      <p class='block p-2 -mx-2 rounded-lg text-gray-800'>
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>

<!-- TailwindCSS for mega menu styles -->
<style>
  .mega-menu {
    position: fixed; /* Fix the position relative to the screen */
    left: 0; /* Align to the left of the screen */
    top: 60px; /* Adjust based on your header height */
    width: 100%; /* Make it span the full width */
    z-index: 50; /* Ensure it's on top of other elements */
    visibility: hidden;
    opacity: 0;
    transition:
      opacity 0.3s ease,
      visibility 0s 0.3s;
  }

  /* When the group is hovered, show the mega menu */
  .group:hover .mega-menu {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  /* Prevent horizontal scrollbar */
  .group:hover .mega-menu {
    overflow-x: hidden; /* Prevent horizontal scroll */
  }

  /* Mega menu arrow */
  .mega-menu .w-10 {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
</style>
