---
import { Icon } from 'astro-icon/components';
---

<div
  class='bg-primary-50 shadow-lg text-black p-5 flex flex-col gap-10 justify-center items-center'
>
  <div class='text-center flex flex-col items-center'>
    <Icon name='headset' class='text-gray-900' size={30} />
    <p class='text-base text-gray-800 leading-relaxed mt-4'>
      Save money and spend more time on priority work.
    </p>
  </div>
  <a
    href=''
    class='flex items-center px-6 py-3 bg-primary text-primary-50 rounded-3xl hover:bg-accent transition-colors duration-300'
  >
    Get Started <Icon name='arrow-right' class='ml-3 text-lg sm:text-xl' />
  </a>
</div>
