---
const { heading, paragraph } = Astro.props;
---

<div class='px-4 text-center'>
  <h1
    class='text-4xl sm:text-5xl md:text-6xl font-bold tracking-tight text-textPrimary mb-4 transition-transform duration-500 ease-in-out transform hover:scale-105'
  >
    {heading}
  </h1>
  <p class='text-lg sm:text-xl text-textSecondary leading-relaxed'>
    {paragraph}
  </p>
</div>
