---
const { project } = Astro.props;
---

<div>
  <div class='bg-lightBlue p-7'>
    <img src={project.image} class='w-full h-[300px] rounded-lg' />
  </div>
  <div class='flex justify-between items-center py-5'>
    <a
      href='/projects'
      class='inline-block text-3xl text-primary font-semibold hover:underline'
      >{project.name}</a
    >
    <div class='text-primary border border-primary rounded-2xl px-3 py-1'>
      {project.category}
    </div>
  </div>
</div>
