---
const { project } = Astro.props;
---

<div class='bg-background shadow-lg rounded-lg overflow-hidden'>
  <div class='bg-highlight p-6'>
    <img
      src={project.image}
      class='w-full h-[300px] object-cover rounded-t-lg'
    />
  </div>
  <div class='flex justify-between items-center px-6 py-5'>
    <a
      href='/projects'
      class='inline-block text-2xl lg:text-3xl text-textPrimary font-bold hover:underline'
    >
      {project.name}
    </a>
    <div
      class='bg-highlight text-primary font-medium border border-primary rounded-2xl px-4 py-2'
    >
      {project.category}
    </div>
  </div>
</div>
