---
import { Icon } from 'astro-icon/components';

const { service } = Astro.props;
---

<div
  class='border border-darkBlue p-6 group bg-white hover:bg-primary hover:border-none transition-colors duration-1000 ease-in-out rounded-lg shadow-md'
>
  <div class='flex justify-between items-center mb-5'>
    <div class='flex items-center justify-center p-5 bg-lightBlue rounded-full'>
      <Icon size={28} name={service.icon} class='text-primary' />
    </div>
    <div
      class='text-darkBlue text-2xl font-semibold group-hover:text-lightGray'
    >
      0{service.id}
    </div>
  </div>
  <a
    href=''
    class='inline-block mb-3 text-darkBlue text-2xl font-bold relative group-hover:text-lightGray after:content-[""] after:absolute after:bottom-0 after:left-0 after:w-0 after:h-[2px] after:bg-lightGray after:transition-all after:duration-1000 group-hover:after:w-full'
  >
    {service.name}
  </a>
  <p class='text-darkText text-lg leading-relaxed group-hover:text-lightGray'>
    {service.description}
  </p>
</div>
