---
import CTAOne from '../../components/CTAOne.astro';
import PageIntro from '../../components/PageIntro.astro';
import ProjectCard from '../../components/ProjectCard.astro';
import { Projects } from '../../constants';
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <div class='min-h-screen bg-gradient-to-b from-white to-lightGray'>
    <div class='container mx-auto px-4 py-8'>
      <PageIntro
        heading='Explore Our Recent Projects'
        paragraph='Explore the stories behind each project, uncovering challenges, strategies, and remarkable results.'
      />

      <div class='grid md:grid-cols-2 gap-8 mt-12 mb-10'>
        {Projects.map((project) => <ProjectCard project={project} />)}
      </div>

      <CTAOne />
    </div>
  </div>
</Layout>
