---
import { Icon } from 'astro-icon/components';
import PageIntro from '../components/PageIntro.astro';
---

<div class='bg-highlight'>
  <div class='container mx-auto px-4 py-28'>
    <PageIntro
      heading='Explore Our Work Flow'
      paragraph='A digital business agency is a company or organization that specializes in providing services related to digital.'
    />
    <div class='grid md:grid-cols-2 lg:grid-cols-3 gap-8 pt-10'>
      {
        [1, 2, 3].map((project) => (
          <div class='bg-white rounded-lg p-10 flex flex-col gap-16'>
            <div class='flex justify-between items-center'>
              <div class='text-accent text-5xl'>01</div>
              <Icon name='arrow-right' size={30} class='text-secondary' />
            </div>
            <div>
              <h3 class='text-3xl text-secondary font-medium mb-4'>
                Project Brief
              </h3>
              <p class='text-lg font-light'>
                Clearly define project requirements. We visualize entire user
                experience interaction achieving their goals
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
