---
import BreadcrumbImg from '../../assets/images/breadcrumbsolution.jpg';
import { Icon } from 'astro-icon/components';
import Layout from '../../layouts/Layout.astro';
import { SolutionsTwo } from '../../constants';
import ServiceCard2 from '../../components/ServiceCard2.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import PageOverview from '../../components/PageOverview.astro';
import CTAOne from '../../components/CTAOne.astro';
import CTATwo from '../../components/CTATwo.astro';

const breadCrumbsDetails = {
  img: BreadcrumbImg,
  title: 'Solutions for any Department',
  desc: 'Save time, escalate efficiency and deliver more value in any area of your business.',
};

const overview = {
  leftTitle: 'Redefine what’s possible across your enterprise',
  leftDescription:
    'Solve productivity challenges in any department and free teams from wasting hours on tedious, time-consuming tasks. With fast, agile automation, you can step up efficiency, reduce risk, and power lasting change in any function or process. Whether you need to scale up output or support a more distributed workforce, we are here to help.',
  rightTitle: 'Why automate with us?',
  rightPoints: [
    'Finance',
    'Operations',
    'Human Resources',
    'Sales & Marketing',
    'Information Technology',
  ],
};
---

<Layout>
  <div class='min-h-screen bg-gradient-to-b from-white to-lightGray'>
    {/* Breadcrumbs */}
    <Breadcrumbs details={breadCrumbsDetails} />
    <div class='container mx-auto px-4 py-16'>
      <PageOverview overview={overview} />

      <div class='grid gap-10 mt-20 mb-14'>
        {
          SolutionsTwo.map((service, index) => (
            <ServiceCard2 service={service} index={index} />
          ))
        }
      </div>

      <CTAOne />
      <div class='ml-3 mb-3 h-10'></div>
      <CTATwo />
    </div>
  </div>
</Layout>
